<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Portafolios Matias Salas Villanueva</title>
  </head>
  <body>
    <header>
      <img [src]="profilePicPath" alt="Foto perfil" />
      <h3>Matías Salas Villanueva</h3>
      <p>
        Apasionado por la ciencia de datos, sistemas de control y tecnologías de
        vanguardia
      </p>
    </header>
    <section>
      <h2>Sobre mí</h2>
      <p>
        Soy un joven estudiante de pregrado de
        <strong>Ingeniería Civil en Computación e Informática </strong> en la
        Universidad Católica del Norte, apasionado por la ciencia de datos y el
        aprendizaje continuo. Me caracterizo por ser proactivo, responsable y
        analítico, con una gran perseverancia para alcanzar los objetivos.
        Siempre me encuentro mejorando mis habilidades de liderazgo y trabajo en
        equipo, priorizando siempre una comunicación clara y efectiva en cada
        proyecto y desafío.
      </p>
    </section>
    <section>
      <h2>Rol Profesional</h2>
      <p>
        Aspirante a <strong>Senior Data Scientist </strong> con enfoque en
        Inteligencia Artificial Predictiva y desarrollarme en todas las
        discplinas afines, como las son la Ingeniería, Recolección y Análisis de
        Datos.
      </p>
    </section>
    <section>
      <h2>Habilidades Técnicas</h2>
      <ul>
        <li>Lenguajes: SQL, Python, C#, Java.</li>
        <li>
          Frameworks: .NET, Angular, Python para Visualización y Ciencia de
          Datos.
        </li>
        <li>
          Herramientas y librerías: Cloudinary, Git, Pandas, Scikit Learn,
          Excel, Word Office.
        </li>
        <li>Base de datos: MySQL, Microsoft SQL Server.</li>
      </ul>
    </section>
    <section>
      <h2>Competencias</h2>
      <ul>
        <li>
          Trabajo en equipo - Responsable - Analítico - Perseverancia -
          Liderazgo - Comunicador efectivo - Proactividad - Disciplina -
          Flexible - Rápido en aprender - Bueno bajo presión.
        </li>
      </ul>
    </section>
    <section class="projects">
      <h2>Proyectos Personales</h2>
      <ul>
        <li>
          <strong>Plataforma E-Commerce:</strong> He desarrollado una API
          escalable para Comercios Digitales.
          <a href="https://github.com/godchisa254/API-E-Commerce"
            >Ver en GitHub</a
          >
        </li>
        <li>
          <strong>Portafolios Personal:</strong> He diseñado e implementado este
          portafolios.
          <a href="https://github.com/godchisa254">Ver en GitHub</a>
        </li>
      </ul>
    </section>
    <section class="socials">
      <h2>Perfiles Laborales</h2>
      <a
        href="https://www.linkedin.com/in/matias-salas-villanueva"
        target="_blank"
        >LinkedIn</a
      >
      <a href="https://github.com/godchisa254" target="_blank">GitHub</a>
    </section>
    <section class="form-section">
      <app-formulario></app-formulario>
    </section>    
    <footer>
      <p>© 2021 Matías Salas Villanueva. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
